{% extends 'board/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4">
<h3>Localidades</h3>
    <ol class="list-group list-group-numbered" id="localidades-container"></ol>
        <br>
        <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination-container">
            <li class="page-item" id="prevPageBtn">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item" id="nextPageBtn">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    </div>



    <div class="col-md-8">
        <br>
        <h4>Búsqueda por localidades o sectores</h4>
        <form id="search-form" class="form-inline my-2 my-lg-0" method="GET" action="">
      <input class="form-control mr-sm-2" id="search-input" name="q" type="search" placeholder="Search" aria-label="Buscar por....">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>

        <br>
        <div id="map" style="height: 350px;"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../../static/js/mapa.js"></script>
<script src="../../../static/js/localidades.js"></script>
<script src="../../../static/js/buscador_board.js"></script>
{% endblock %}
